@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.panel {
  background-color: blueviolet;
  border-radius: 20px;
  height: 80vh;
  color: aliceblue;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.panel.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.5s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-last-of-type(4),
  .panel:nth-last-of-type(5) {
    display: none;
  }
}
